{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Amit Sangwan</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    {% load static %}
</head>

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/amit.jpeg' %}">
                    <hr>
                    <h4>
                        Hi I am Amit
                    </h4>
                    <p>I love coding, learing new things.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>
                        My Job profile
                    </h4>
                    <hr>
                    <p>
                        Experienced iOS Developer with a demonstrated history of working in the information technology and services industry. Worked on 10+ apps which are being used by million of users daily.
                    </p>
                    <p>
                        I  have worked on Android and iOS Tech-stack. I have some exprience in React native with Typescript
                    </p>
                    <hr>
                    <ul class="social-links">
                        <li> <img class="social" src="{% static 'images/stack-overflow.png' %}"> </li>
                        <li> <img class="social" src="{% static 'images/discord.png' %}"> </li>
                        <li> <img class="social" src="{% static 'images/github.png' %}"> </li>
                        <li> <img class="social" src="{% static 'images/slack-new.png' %}"> </li>
                        <li> <img class="social" src="{% static 'images/nstagram.png' %}"> </li>
                        <li> <img class="social" src="{% static 'images/twitter.png' %}"> </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5> Exprience as Developer</h5>
                    <hr>
                    <p>
                        As an Full time Developer, I am working on frontend technologies. I have advanced level of exprience in iOS. I have worked on UIKit, Xib, Swift(from version 2.0). I have workedon SwiftUI also. I have basic understanding of Objective-C also.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Skills</h5>
                    <p>TypeScript , JavaScript · React Native · Swift · iOS Development · iOS · Swift (Programming Language)</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>SDE at Dream11</h5>
                    <hr>
                    <p>1. Worked in onboarding squad to handle splash flow, A/B test, integration test </p>
                     <p>  2. Migrated splash module from swift to React Native with Typescript </p> 
                     <p> 3. Added new tests for migration and integration testing1. Worked in onboarding squad to handle splash flow, A/B test, integration test 2. Migrated splash module from swift to React Native with Typescript 3. Added new tests for migration and integration testing
                        </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>SDE at Box8</h5>
                    <hr>
                    <p>1. Improved Existing Architecture of BOX8 , MojoPizza. </p>
                    <p>2. Implementation payment Integrations of Third party SDK and S2S.</p>
                    <p>3. Migrated Objective C code base to Swift.</p>
                    <p>4. Migrated Existing MVC to more robust and clean MVVM .</p>
                    <p>5. Designed In-house Network Library.</p>
                    <p>6. Maintained good quality and bug-free code with XCTest.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>
                        Software Engineer (iOS) at redBus</h5>
                        <h7 id="location">Mar 2020 - Jun 2021 </h7>
                        <h7 id="location">Bengaluru Area, India</h7>
                    <hr>
                    <p>1.I worked on redbus Indonesia for building new feature from scratch , enhancement architecture and resolving issues. </p> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>
                        Mobile Developer at Fyusion, Inc</h5>
                        <h7 id="location">Apr 2023 - Present  </h7>
                        <h7 id="location">Remote</h7>
                    <hr>
                    <p>Working on fuse app  </p> 
                </div>
            </div>
        </div>

    </div>
</body>

</html>